/* Estilos especificos para la seccion de Donaciones */
.content-list-container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-list-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.list-cards {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: #1b2a41;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    flex-direction: column;
    height: 100%;
}

.card h2 {
    margin-bottom: 8px;
    font-size: 18px;
}

.card p {
    margin-bottom: 8px;
    font-size: 14px;
}

.card small {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ccc;
}

.card-actions {
    display: flex;
    gap: 10px;
    margin-top: auto;
}
