{% extends "base.html" %}

{% block title %}Mis Servicios{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='ver_servicios.css') }}">
{% endblock %}

{% block content %}
<div class="content-list-container">
    <h1>Mis Servicios</h1>
    {% if servicios %}
        <div class="list-cards">
            {% for servicio in servicios %}
            <div class="card">
                <h2>{{ servicio.titulo }}</h2>
                <p>{{ servicio.descripcion }}</p>
                <small>Ubicación: {{ servicio.ubicacion }}</small>
                <small>Contacto: {{ servicio.contacto }}</small>
                
                <div class="card-actions">
                    <a href="{{ url_for('editar_servicio', id=servicio.id) }}" class="btn-edit">Editar</a>
                    <form action="{{ url_for('eliminar_servicio', id=servicio.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro que quieres eliminar este servicio?');">
                        <button type="submit" class="btn-delete">Eliminar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aún no has publicado ningún servicio.</p>
    {% endif %}
</div>
{% endblock %}